extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.title Title
        |  #{title}

        h2.cost Cost
        |  #{cost}

        h2.location Location
        |  #{location}

        h2.description Description
        |  #{description}
