extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
        |  #{name}
        h2.organization Organization
        |  #{organization}

  .main.container.row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Add Product

            // register form

            form(method='POST' action='/profile')
              div.form-group
                label(for='title') Title:
                input#title.form-control(type='text', placeholder='title' name='title')
              div.form-group
                label(for='cost') Cost:
                input#cost.form-control(type='text', placeholder='cost' name='cost')
              div.form-group
                label(for='location') Location:
                input#location.form-control(type='text', placeholder='location' name='location')
              div.form-group
                label(for='description') Description:
                input#description.form-control(type='text' name='description')
              button.btn.btn-primary(type='submit') Add Order
